:root {
    /*------ Fuentes -------------*/
    --fuente: "Outfit", sans-serif;

    /*------- Colores ------------*/
    --principal: #1F314F;
    --secundario: #7D889E;
    --backgroundCard: #FFFFFF;
    --backgroundFondo: #D5E1EF;

    /*------- Separacion -------*/
    --separacion: 5rem;
}

/*--------------------- Globales -----------------------------------------*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuente);
    font-size: 1.6rem;
    line-height: 1.5;
}
h1 {
    font-weight: 700;
    font-family: var(--fuente);
    margin: calc(var(--separacion) / 2);
    font-size: 2.2rem;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}

/*----------------------------- Utilidades -------------------------------*/
.text_center {
    text-align: center;
}
